@import "./base";

@media (min-width: 1440px){
    .card__container {
        display: flex;
        flex-direction: row;
        max-width: 535px;

        .card__image--mobile{
            display: none;
        }
        .card__image--desktop{
            display: block;
            width: 32vh;
            border-radius: 10px 0px 0px 10px;
        }
    }

    .card__content{
        margin: 12px 20px;
    }

    %cart{
        background: url(../img/icon-cart.svg) no-repeat 45px;
    }

    .card__button{
        background-color: $Dark-cyan;
        padding: 12px 66px;
    }
}