@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


//Primary

$Dark-cyan: hsl(158, 36%, 37%);
$Cream: hsl(30, 38%, 92%);

//Neutral

$Very-dark-blue: hsl(212, 21%, 14%);
$Dark-grayish-blue: hsl(228, 12%, 48%);
$White:hsl(0, 0%, 100%);

//fonts 
$montserrat: 'Montserrat', sans-serif;
$frauces: 'Fraunces', serif;

body{
    background-color: $Cream;
    color: $Dark-grayish-blue;
    font-family: $montserrat;
}

.card__container {
    align-items: center;
    background-color: $White;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 70%;
    margin: 50% auto;
    border-radius: 10px;

    .card__image{
        width: 100%;
        border-radius: 10px 10px 0 0;
    }

    .card__content{
        padding: 20px;

        .content__subtitle{
            font-size: 10px;
            letter-spacing: 5px;
        }

        .content__title{
            color: $Very-dark-blue;
            font-size: 25px;
            font-family: $frauces;
            font-weight: 700;
            margin-top: 10px;
        }

        .content__discrition{
            font-size: 11px;
            margin: 2vh 0;
            padding: 0vh 2px;
            line-height: 1.5;
        }

    }

    .card__value{
        display: flex;
        align-items: center;
        margin-top: 10px;

        .value__first{
            color: $Dark-cyan;
            font-family: $frauces;
            font-size: 25px;
            font-weight: 700;
            margin-right: 10px;
        }

        .value__second{

        }
    }

    .card__button{
        background-color: $Dark-cyan;
        border-style: none;
        border-radius: 10px;
        color: $White;
        font-weight: 700;
        padding: 1vh 10vh;
        margin-bottom: 10px;
    }
}